.git
.github
.local
.env
.env.*
*.key
*.pfx
*.pem
*.sqlite
*.sqlite3
*.db

src/web/build
src/web/node_modules
src/web/.eslintcache
src/web/.gitignore

src/slskd/bin
src/slskd/obj
src/slskd/.gitignore

dist
artifacts
release
releases
packages
